

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img {
  &.alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }
  &.alignnone {
    margin: 5px 20px 20px 0;
  }
  &.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }
  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

p { clear: both; }

.wp-caption {
  background: #fff;
  max-width: 100%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
  &.alignnone, &.alignleft {
    margin: 5px 20px 20px 0;
  }
  &.alignright {
    margin: 5px 0 20px 20px;
  }
  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }
  p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
  }
}

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
  }
}

.sticky {
  background: #FAFAFA;
  border: 3px solid #E6E6E6;
  padding: 15px;
}

/* The Gallery container (div) */

.gallery .gallery-item, .gallery-columns-2 .gallery-item, .gallery-columns-4 .gallery-item, .gallery img, .gallery-columns-2 .attachment-medium, .gallery-columns-4 .attachment-thumbnail { /*! keep */ }

.gallery {
  .gallery-caption, dl, dt, br + br { /*! keep */ }
}

/* Definition lists elements */

/* Pick the second line break if two line breaks are adjacent */

/* Comment styles for Authors */

.commentlist {
  .bypostauthor, li ul.children li.bypostauthor {
    border-top: 10px solid #e18728;
  }
}